@*what model needs to be here?? RSVP since the possible actions will be related to RSVP objects?*@
@model RSVP
<h1>Welcome to the Wedding Planner <a href="logout">Log Out</a></h1>

<table class="table table-striped">
    <tr>
        <th>Wedding</th>
        <th>Date</th>
        <th>Guest</th>
        <th>Action</th>
    </tr>
    @{foreach (Wedding wedding in @ViewBag.AllWeddings){
        <tr>
            <td>@wedding.Wedder1 & @wedding.Wedder2</td>
            <td>@wedding.Date</td>
            <td>@wedding.Attendees.Count</td>
            <td>
                <form asp-controller="Home" asp-action="CreateRSVP" method="post">
                    <input type="hidden" asp-for="WeddingId" value="@wedding.WeddingId">
                    <input type="hidden" asp-for="Wedding" value="@wedding">
                    <button type="submit" class="btn btn-success">RSVP</button>
                </form>
                <a href="/DeleteRSVP/{@wedding.WeddingId}" class="btn btn-warning">un-RSVP</a>
                <a href="/DeleteWedding/{@wedding.WeddingId}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }}
</table>

<a href="/new" class="btn btn-secondary">New Wedding</a>