@model Association

<a asp-controller="Category" asp-action="Categories" asp-route-categories="/categories">All Categories</a>

<h1>@ViewBag.Product.Name</h1>

<div class="d-inline-flex">
    <h4>Categories</h4>
    <ul>
    @{
        foreach (Association cat in @ViewBag.Product.CategoriesOfProduct)
        {<li>@cat.Category.Name</li>}
    }
    </ul>
</div>

<div class="d-inline-flex">
    <h6>Add Category</h6>
    <form asp-action="CreateAssociation" asp-controller="Product" asp-action="post" class="form container d-flex flex-column align-items-center py-2">
        <select asp-for="CategoryId">
            @{foreach (Category cat in @ViewBag.AllCategories){
                <option value=@cat.CategoryId>@cat.Name</option>
            }}
        </select>
        <input type="hidden" asp-for="ProductId" value="@ViewBag.Product.ProductId">
        <button type="submit">Add</button>
    </form>
</div>
